.home-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .home-title {
    font-size: 100px;
    font-family: 'Apple Chancery', sans-serif;
    font-style: oblique;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border: 2px solid;
    border-radius: 10px;
    /* color: #520e05; */
  }
  