.vineyard-container {
  flex-grow: 1; /* za upotpunjavanje */
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px; /* razmak, provjerit ću */
}
  
.vineyard-content {
  width: 100%;
  max-width: 1200px; /* Maks. širina, oprobat ćemo */
  margin: 0 auto; /* Centriraj sadržaj, u vezi linije iznad */
  padding: 20px; /* Malo razmaka */
  background-color: rgba(0, 0, 0, 0.3); /* Malo bolje uklapanje bojâ */
  border-radius: 10px; /* Zaokruženost, oprobat ćemo */
  box-sizing: border-box; /* 'Padding' */
}

  
.vineyard-title {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}
  
.vineyard-media {
    display: flex;
    gap: 20px; /* razmak, triba li? */
    align-items: center; /* vertikalni poredak */
    justify-content: center; /* horizontalno centriranje */
}
  
.vineyard-image {
  width: 100%; /* Responzivna */
  max-width: 300px; /* Maksimalna */
  border-radius: 10px;
  object-fit: cover; /* Valjani razmjer (aspect ratio) */
}
  
.vineyard-video {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .vineyard-content {
    max-width: 90%;
    padding: 10px;
  }

  .vineyard-media {
    flex-direction: column;
    gap: 10px;
  }

  .vineyard-image,
  .vineyard-video {
    max-width: 100%;
  }
}
